/* -------------------------------------- */
/* ----------------GENERAL--------------- */
/* -------------------------------------- */

@font-face {
	font-family: "Raleway";
	src: url("font/Raleway-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

#bloc_page {
	max-width: 1440px;
	margin: 0 auto;
	font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, p, div, ul, ol {margin: 0; padding: 0; margin-block-start: 0; margin-block-end: 0;}

h1, h2, h3 {font-weight: bold;}

h1 {font-size: 20px;}

h2 {font-size: 20px;}

h3 {font-size: 16px;}

a {text-decoration-line: none; color: #000;}

strong {font-weight: bold;}

/* -------------------------------------- */
/* ----------------HEADER---------------- */
/* -------------------------------------- */

header {
	margin: 20px 3.5% 20px 3.5%;
	display: grid;
	grid-template-columns: 68% 24% 8%;
	grid-template-rows: 1fr;
}

#logo_reservia {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	padding-top: 25px;
}

nav {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#inscription {
	grid-column: 3 / span 1;
	grid-row: 1 / span 1;
	display: flex;
	align-items: center;
	font-weight: bold;
}

#inscrire {color: #0065fc;}

.ancres {padding: 25px;}

#formulaire {padding: 20px;}

.navigation:hover {color: #0065FC; border-top: solid thin #0065FC;}

#inscrire:hover {color: #004dfc;}

/* -------------------------------------- */
/* -----------SECTION RECHERCHE---------- */
/* -------------------------------------- */


#recherche {margin: 0 3.5% 0 3.5%;}

#recherche_texte {line-height: 30px; padding-top: 20px;}

#recherche_ville_contenu {display: flex; padding-top: 20px;}

#map_marker {
	background-color: #f2f2f2;
	width: 50px;
	height: 50px;
	border-radius: 12px 0 0 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#map_marker i {font-size: 24px;}

#destination_critere {
	height: 50px;
	width: 234px;
	border: solid;
	border-color: #f2f2f2;
	text-align: left;
	font-size: 18px;
	padding-left: 10px;
}

.button-1 {
	background-color: #0065fc;
	color: #FFF;
	height: 50px;
	width: 134px;
	border-radius: 0 12px 12px 0;
	position: relative;
	right: 5px;
	border: 0;
	padding: 0 20px 0 20px;
	font-size: 0;
}

.button-1::after {
	content: "Rechercher";
	font-size: 18px;
	color: #FFF;
}

.button-1:hover {background-color: #004dfc;	cursor: pointer;}

/* -------------------------------------- */
/* ---------FILTRES DE RECHERCHE--------- */

#recherche_filtres {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 20px;
}

#recherche_filtres_titre {width: 7.5%; font-size: 18px; font-weight: bold}

#recherche_filtres_boutons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 92.5%;
}

.boutons_filtres {
	display: flex;
	flex-direction: row;
	margin-right: 2%;
	padding-right: 1.5%;
	border: 2px solid #f2f2f2;
	border-radius: 27px;
}

.boutons_filtres_clic {
	display: inline-block;
	border-radius: 27px;
	margin-right: 2%;
}

.boutons_filtres_contenu {
	height: 48px;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-right: 2%;
}

.button_filtres_marker {
	height: 46px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid #deebff;
	position: relative;
	right: 2px;
	color: #0065fc;
	background-color: #deebff;
	display: flex; 
	justify-content: center;
	align-items: center;
}

.boutons_filtres_clic:hover {background-color: #deebff; border-color: #deebff;}

.boutons_filtres:hover {background-color: #deebff; border-color: #deebff;}

/* -------------------------------------- */
/* ------------RECHERCHE INFO------------ */

#recherche_information {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 0 20px 0;
}

#logo_i {
	width: 24px;
	height: 24px;
	border: solid thin #dedede;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-info {color: #0065fc; font-size: 12px;}

#recherche_info_text {margin-left: 0.5%;}

/* -------------------------------------- */
/* ---------SECTION HEBERGEMENTS--------- */
/* -------------------------------------- */

#hebergements {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
}

.fa-star {color: #0065fc;}

.etoile-grise {color: #dedede;}

/* -------------------------------------- */
/* ---Article : div hotel_selectionnés--- */


article {
	height: 626px;
	width: 61.1%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border-radius: 15px; 
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#hebergements_titre {
	margin: 0 4.5% 30px 4.5%;
	display: flex;
	align-items: flex-end;
}

#hebergements_contenu {height: 479px;}

.hebergements_row {
	margin: 0 4.5% 30px 4.5%;
	width: 90.9091%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hebergements_row a {width: 29.5%;}

.hebergements_box {
    background-color: #FFF;
    height: 190px;
	border: 5px solid #FFF;
    border-radius: 15px;
    font-size: small;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px #e8e8e8;
}

.hebergements_box:hover {box-shadow: 0 0 15px #CECECE;}

.hebergements_box_image {
	height: 115px;
	top: 0px;
	min-width: 100%;
	max-width: 100%;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.hebergements_box_image img {
	min-width: 100%; 
	max-height: auto;
	border-radius: 10px 10px 0 0;
}

.hebergements_box_text {
	background-color: #FFF;
	position: absolute;
	height: 75px;
	width: 100%;
	bottom: 0px;
	padding: 2% 2% 2% 4%;
	text-align: left;
	display: flex; 
	flex-direction: column;
	justify-content: space-around;
}

#afficher_plus {margin: 0 4.5% 0 4.5%;}

#afficher_plus_a {font-size: medium; font-weight: bold;}

#afficher_plus_a:hover {color: #0065fc;}


/* -------------------------------------- */
/* -----ASIDE: DIV hôtels populaires----- */


aside {
	height: 626px;
	width: 29.16%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border-radius: 15px;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#popular_titre {
	margin: 0 9.5% 30px 9.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
}

#popular {
	margin: 0 9.5% 0 9.5%;
	height: 479px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popular_box {
	position: relative;
	height: 134px;
	border: 5px solid #FFF;
    border-radius: 15px;
    font-size: small;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	box-shadow: 0 0 10px #e8e8e8;
}

.popular_box:hover{box-shadow: 0 0 15px #CECECE;}

.popular_image {
	min-width: 38.138%;
	max-width: 38.138%;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
}

.popular_image img {min-width: 100%; max-height: 134px; position: absolute;}

.popular_text {
	background: #FFF;
	position: absolute;
	right: 0px;
	height: 134px;
	width: 61.862%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popular_text_content { 
	margin: 4% 4% 0 4%;
	padding: 2% 2% 0 2%;
	line-height: 20px;
	display: flex; 
	flex-direction: column; 
	justify-content: space-around;
}

.popular_text_rating {margin: 0 4% 0 4%; padding: 0 0 4% 2%;}


/* -------------------------------------- */
/* ----------SECTION  ACTIVITES---------- */
/* -------------------------------------- */


#activites {margin-top: 60px; height: 554px;}

#activites_titre {margin: 0 3.5% 30px 3.5%;}

.activites_box {
	position: relative;
	border-radius: 15px;
	box-shadow: 0 0 10px #e8e8e8;
	overflow: hidden;
}

.activites_box:hover {box-shadow: 0 0 15px #CECECE;}

.activites_image {
	overflow: hidden;
	min-width: 100%;
	max-width: 100%;
	top: 0px;
	border-radius: 15px 15px 0 0;
	display: flex;
	justify-content: center;
}

.activites_box_titre {
	background-color: #FFF;
	width: 100%;
	height: 55px;
	bottom: 0px;
	border-radius: 0 0 15px 15px;
	display: flex;
	align-items: center;
}

.activites_box_titre h3 {padding-left: 10px;}

/* -------------------------------------- */
/* ---------------CSS GRID--------------- */


#activites_grid {
	margin: 0 3.5% 0 3.5%;
	display: grid;
	grid-template-columns: repeat(4, 22.537%);
	grid-template-rows: 100%;
	grid-gap: 3.28%;
}

/* -------------------------------------- */
/* --------------COLONNE n1-------------- */

#activites_column_1 {grid-column: 1 / span 1;}

#activites_box_1 {height: 445px;}

#activites_image_1 {height: 390px;}

#activites_imade_1 img {min-width: 100%; max-height: 390px;}

/* -------------------------------------- */
/* --------------COLONNE n2-------------- */

#activies_column_2 {grid-column: 2 / span 1;}

#activites_box_2 {height: 236px; margin-bottom: 44px}

#activites_image_2 {height: 181px; align-items: center;}

#activites_image_2 img {max-width: 100%; min-height: 181px;}

#activites_box_3 {height: 165px;}

#activites_image_3 {height: 110px; align-items: center;}

#activites_image_3 img {max-width: 100%; min-height: 110px;}

/* -------------------------------------- */
/* --------------COLONNE n3-------------- */

#activies_column_3 {grid-column: 3 / span 1;}

#activites_box_4 {height: 445px;}

#activites_image_4 {height: 390px;}

/* -------------------------------------- */
/* --------------COLONNE n4-------------- */

#activites_column_4 {grid-column: 4 / span 1;}

#activites_box_5 {height: 194px; margin-bottom: 44px;}

#activites_image_5 {height: 140px; align-items: flex-start;}

#activites_image_5 img {width: 100%}

#activites_box_6 {height: 207px;}

#activites_image_6 {height: 154px; align-items: center;}

#activites_image_6 img {min-width: 100%;}


/* -------------------------------------- */
/* ----------------FOOTER---------------- */
/* -------------------------------------- */

footer {background-color: #F2F2F2;}

footer ul {list-style-type: none; line-height: 30px;}

#footer_grid {
	margin: 0 3.5% 0 3.5%;
	padding: 40px 0 40px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 50px;
}

footer a:hover{color: #0065fc}

#a_propos {	grid-column: 1 / span 1; }

#nous_rejoindre { grid-column: 2 / span 1; }

#assistance { grid-column: 3 / span 1; }



/* ------------------------------------------------------------------------------------- */
/* ----------------------------------RESPONSIVE DESIGN---------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* --------------------------------Medium Screen Tablets-------------------------------- */
/* ------------------------------------------------------------------------------------- */

@media all and (min-width: 768px) and (max-width: 1023px) {

	
	h1 {line-height: 50px; font-size: 22px;}
	
	h2 {font-size: 22px;}
	
	h3 {font-size: 18px;}
	

	/* -------------------------------------- */
	/* ----------------HEADER---------------- */
	/* -------------------------------------- */

	header {
		margin: 20px 0 20px 0;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	
	#logo_reservia {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
		margin-left: 5.6%;
	}

	#logo_reservia img {position: relative;}

	nav {
		grid-column: 1 / span 2;
		grid-row: 2 / span 1;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.navigation {
		display: inline-block; 
		width: 50%; 
		font-size: 20px;
		text-align: center;
		border-bottom: solid thin #F2F2F2;
	}

	.ancres {padding: 20px;}

	#inscription {
		grid-column: 2 / span 1;
		padding-top: 20px;
		margin-right: 5.6%;
		justify-content: flex-end;
	}

	#inscrire {
		display: inline-block; 
		text-align: right;
	}
		
	#formulaire {font-size: 20px;}

	.navigation:hover {
		color: #0065FC;
		border-top: none;
		border-bottom: solid thin #0065FC;
	}

	#inscrire:hover {color: #004dfc}

	/* -------------------------------------- */
	/* -----------SECTION RECHERCHE---------- */
	/* -------------------------------------- */

	
	/* titre */

	#recherche_texte p {font-size: 18px;}
	
	/* champ de recherche */
	
	#recherche_ville {display: flex; justify-content: center;}

	#map_marker i {font-size: 18px;}
		

	/* -------------------------------------- */
	/* ---------FILTRES DE RECHERCHE--------- */
	
	#recherche_filtres {
		flex-direction: column;
		align-items: flex-start;
	}
		
	#recherche_filtres_boutons {
		padding: 20px 0 20px 0;
		width: 100%;
	}
	
	.boutons_filtres {
		margin-right: 3%;
		margin-bottom: 20px;
		padding-right: 3%;
	}

	/* paragraphe information */

	#recherche_information {justify-content: space-between;}
	
	#recherche_info_text {width: 95%;}

	#recherche_info_text p {font-size: 14px;}

	/* -------------------------------------- */
	/* ---------SECTION HEBERGEMENTS--------- */
	/* -------------------------------------- */


	#hebergements {
		flex-direction: column-reverse;
		align-items: center;
	}

	/* -------------------------------------- */
	/* ---Article : div hotel_selectionnés--- */


	article {
		height: auto;
		width: 100%;
		margin: 0;
		background-color: #FFF;
		justify-content: space-around;
	}

	#hebergements_titre {margin: 20px 4.5% 20px 4.5%;}

	#hebergements_contenu {height: auto;}

	.hebergements_row {margin: 0 4.5% 20px 4.5%;}

	.hebergements_box_text {padding: 5px;}

	#afficher_plus {margin: 0 4.5% 20px 4.5%;}


	/* -------------------------------------- */
	/* -----ASIDE: DIV hôtels populaires----- */


	aside {
		height: auto;
		width: 100%;
		margin: 0;
		background-color: #F2F2F2;
		border-radius: 0px;
		justify-content: space-around;
		align-items: flex-start;
	}

	#popular_titre {width: 91%;	margin: 20px 4.5% 20px 4.5%;}

	.fa-chart-line {font-size: 20px; align-self: flex-end;}

	#popular {
		margin: 0 4.5% 20px 4.5%;
		width: 90.9091%;
		height: auto;
		flex-direction: row;
	}

	#popular a {width: 29.5%;}

	.popular_box {
		background: #FFF;
	    height: 190px;
	    border-radius: 15px;
	    font-size: small;
	}

	.popular_image {
		min-width: 100%;
		max-width: 100%;
		border-radius: 10px 10px 0 0;
		flex-direction: column;
	}
		
	.popular_image img { 
		max-height: 100%;
		border-radius: 10px 10px 0 0;
		margin-bottom: 100px;
	}

	.popular_text {
		height: 75px;
		width: 100%;
		bottom: 0px;
		padding: 5px 0 5px 5px;
		flex-direction: column;
	}

	.popular_text_content {
		margin: 0px 5px; 
		padding: 0px;
	}

	.popular_text_content h3 {font-size: 16px;}
	
	.popular_text_rating {margin: 0px 5px 5px 5px; padding: 0;}


	/* -------------------------------------- */
	/* ----------SECTION  ACTIVITES---------- */
	/* -------------------------------------- */


	#activites {margin-top: 30px; margin-bottom: 30px; height: 1000px;}

	#activites_titre {margin: 0 3.5% 20px 3.5%;}

	/* -------------------------------------- */
	/* ---------------CSS GRID--------------- */


	#activites_grid {
		margin: 10px 3.5% 0 3.5%;
		height: 900px;
		display: grid;
		grid-template-columns: repeat(2, 48%);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 4%;
	}

	/* -------------------------------------- */
	/* --------------COLONNE n1-------------- */

	#activites_column_1 {grid-column: 1 / span 1; grid-row: 1 / span 1;}

	/* -------------------------------------- */
	/* --------------COLONNE n2-------------- */

	#activies_column_2 {grid-column: 2 / span 1; grid-row: 1 / span 1;}


	/* -------------------------------------- */
	/* --------------COLONNE n3-------------- */
	/* -Colonne 3 passe en colonne 1 ligne 2- */

	#activies_column_3 {grid-column: 1 / span 1; grid-row: 2 / span 1;}

	/* -------------------------------------- */
	/* --------------COLONNE n4-------------- */
	/* -Colonne 3 passe en colonne 2 ligne 2- */

	#activites_column_4 {grid-column: 2 / span 1; grid-row: 2 / span 1;}

	/* formater les images pour qu'elle s'intègrent dans les grids */

	/* -------------------------------------- */
	/* ----------------FOOTER---------------- */
	/* -------------------------------------- */

	#footer_grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
	}

	#a_propos {grid-column: 1;}

	#nous_rejoindre {grid-column: 1;}

	#assistance {grid-column: 1;}	

}

/* ------------------------------------------------------------------------------------- */
/* ----------------------------------RESPONSIVE DESIGN---------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------Small Screen Smartphones------------------------------- */
/* ------------------------------------------------------------------------------------- */


@media all and (max-width: 767px) {

	#bloc_page {margin: 0;}

	/* -------------------------------------- */
	/* ----------------HEADER---------------- */
	/* -------------------------------------- */

	header {
		margin: 20px 0 20px 0;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	
	#logo_reservia {margin-left: 5.6%;}

	nav {
		grid-column: 1 / span 2;
		grid-row: 2 / span 1;
		justify-content: space-between;
	}

	.navigation {
		display: inline-block; 
		width: 50%; 
		font-size: 16px;
		text-align: center;
		border-bottom: solid thin #F2F2F2;
	}

	.ancres {padding: 20px;}

	#inscription {
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
		padding-top: 20px;
		margin-right: 5.6%;
		justify-content: flex-end;
	}
		
	#inscrire {
		display: inline-block; 
		text-align: right;
	}
		
	#formulaire {padding: 20px;}

	.navigation:hover {
		color: #0065FC;
		border-top: none;
		border-bottom: solid thin #0065FC;
	}


	/* -------------------------------------- */
	/* -----------SECTION RECHERCHE---------- */
	/* -------------------------------------- */


	#recherche {margin: 0 5.6% 0 5.6%;}
	
	/* titre */

	#recherche_texte {line-height: 40px; padding-top: 0px;}

	#recherche_texte p {font-size: 15px;}
	
	/* champ de recherche */
	
	#recherche_ville {
		margin: 0 5.6% 0 5.6%;
		display: flex;
		justify-content: center;
	}
	
	#recherche_ville_contenu {margin: auto;}

	#map_marker i {font-size: 20px;}
	
	#destination_critere {width: auto; font-size: 14px;}
	
	.button-1 {
		width: 50px;
		border-radius: 12px;
		padding: 0;
		font-size: 16px;
	}

	.button-1::after {content: "Rechercher"; font-size: 0;}
	
	.button-1:hover {background-color: #004dfc;}

	/* -------------------------------------- */
	/* ---------FILTRES DE RECHERCHE--------- */
	
	#recherche_filtres {flex-direction: column;}
	
	#recherche_filtres_titre {width: 100%;}
	
	#recherche_filtres_boutons {padding: 20px 0 20px 0; width: 100%;}
	
	.boutons_filtres {margin-right: 3%; margin-bottom: 10px; padding-right: 3%;}
		
	.boutons_filtres_contenu {font-size: 16px;}
	
	/* paragraphe information */

	#recherche_information {
		justify-content: space-between;
		align-items: flex-start;
		padding: 0;
		margin-bottom: 20px;
	}
	
	#recherche_info_text {
		width: 88.77%;
		padding-top: 8px;
		font-size: 14px;
	}


	/* -------------------------------------- */
	/* ---------SECTION HEBERGEMENTS--------- */
	/* -------------------------------------- */
	
	
	#hebergements {flex-direction: column-reverse; align-items: center;}
	
	
	/* -------------------------------------- */
	/* ---Article : div hotel_selectionnés--- */
	
	
	article {
		background-color: #FFF;
		height: auto;
		width: 100%;
		justify-content: space-around;
	}
	
	#hebergements_titre {margin: 35px 4.5% 40px 4.5%;}

	#hebergements_contenu {height: auto;}
	
	.hebergements_row {
		margin: 0 4.5% 0 4.5%;
		width: 100%;
		flex-direction: column;
	}
	
	.hebergements_row a {width: 91%;}
	
	.hebergements_box {margin-bottom: 12px;}
	
	.hebergements_box_image img {width: 100%}
	
	.hebergements_box_text {padding: 5px;}
	
	#afficher_plus {margin: 20px 4.5% 20px 4.5%;}
	
	
	/* -------------------------------------- */
	/* -----ASIDE: DIV hôtels populaires----- */
	
	
	aside {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		border-radius: 0px;
		justify-content: space-around;
	}
	
	#popular_titre {margin: 30px 5.6% 30px 5.6%;}
	
	#popular {margin: 0 5.6% 0 5.6%;}
	
	
	/* -------------------------------------- */
	/* ----------SECTION  ACTIVITES---------- */
	/* -------------------------------------- */
	
	
	#activites {margin-top: 30px; margin-bottom: 30px; height: auto;}
	
	#activites_titre {margin: 0 5.6% 40px 5.6%;}
	
	
	/* -------------------------------------- */
	/* ---------------CSS GRID--------------- */
	
	#activites_grid {
		margin: 20px 5.6% 0 5.6%;
		height: auto;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 190px);
		grid-gap: 20px;;
	}

	.activites_image {position: absolute;}

	.activites_box_titre {position: absolute;}

	/* -------------------------------------- */
	/* --------------COLONNE n1-------------- */

	#activites_column_1 {grid-column: 1 / span 1; grid-row: 1 / span 1;}

	#activites_box_1 {height: 190px;}

	#activites_image_1 {height: 135px; align-items: center;}

	#activites_image_1 img {min-width: 100%;}

	/* -------------------------------------- */
	/* --------------COLONNE n2-------------- */

	#activies_column_2 {grid-column: 1 / span 1; grid-row: 2 / span 2;}

	#activites_box_2 {height: 190px; margin-bottom: 20px}

	#activites_image_2 {height: 135px; align-items: center;}

	#activites_box_3 {height: 190px;}

	#activites_image_3 {height: 135px; align-items: center;}

	/* -------------------------------------- */
	/* --------------COLONNE n3-------------- */
	/* -Colonne 3 passe en colonne 1 ligne 2- */

	#activites_column_3 {grid-column: 1 / span 1; grid-row: 4 / span 1;}

	#activites_box_4 {height: 190px;}

	#activites_image_4 {height: 135px; align-items: center;}

	#activites_image_4 img {min-width: 100%;}

	/* -------------------------------------- */
	/* --------------COLONNE n4-------------- */
	/* -Colonne 3 passe en colonne 2 ligne 2- */

	#activites_column_4 {grid-column: 1 / span 1; grid-row: 5 / span 2;}

	#activites_box_5 {height: 190px; margin-bottom: 20px;}

	#activites_image_5 {height: 135px; align-items: center;}

	#activites_box_6 {height: 190px;}

	#activites_image_6 {height: 135px; align-items: center;}

	/* formater les images pour qu'elle s'intègrent dans les grids */

	/* -------------------------------------- */
	/* ----------------FOOTER---------------- */
	/* -------------------------------------- */

	footer ul {list-style-type: none; line-height: 30px;}

	#footer_grid {
		margin: 0 5.6% 0 5.6%;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
	}

	#a_propos {grid-column: 1;}

	#nous_rejoindre {grid-column: 1;}

	#assistance {grid-column: 1;}	

}