/* GENERAL */

@font-face {
	font-family: "Raleway";
	src: url("font/Raleway-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

#bloc_page {
	max-width: 1440px;
	margin: 0 auto;
	font-family: "Raleway", sans-serif;
	background-color: hsl(249, 100%, 93%); /*couleur pour visualiser */
}

h1, h2, h3 {
	font-weight: bold;
}


/* HEADER */
header {
	background-color: red;	
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#logo {
	margin-left: 3.5%;
}

#navigation {
	background-color: white;
	display: flex;
	justify-content: space-around;
	margin-right: 3.5%;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

nav li {
	margin-right: 4.7%;
	margin-left: 4.7%;
}


nav a {
	color: black;
	display: inline-block;
	line-height: 50px;
	align-items: center;	
}

nav a:hover {
	color: #0065FC;
	border-top: solid thin #0065FC;
}

#inscription {
	font-weight: bold;
	align-self: center;
}

/* SECTION PRESENTATION */
#presentation {
	background-color: green;
}

#recherche {
	margin-left: 3.5%;
}

#recherche i {
	display: inline-block;
	font-size: 24px;
	background-color: #f2f2f2;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 12px 0 0 12px;
	line-height: 41px;
}

#destination {
	height: 50px;
	border: solid;
	border-color: #f2f2f2;
	text-align: center;
}

.button-1 {
	background-color: #0065fc;
	color: white;
	height: 50px;
	border-radius: 0 12px 12px 0;
	position: relative;
	right: 5px;

}

#filtres {
	background-color: grey;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-left: 3.5%;
	line-height: 50px;
}

.button-2 {
	display: inline-block;
	height: 50px;
	background-color: white;
	font-weight: bold;
	border: 2px solid #deebff; 
	border-radius: 27px;
	margin-left: 1.7%;
	text-align: center;
}

#filtres i {
	display: inline-block;
	text-align: center;
	font-size: 17px;
	color: #0065fc;
	background-color: #deebff;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2x solid #deebff;
	line-height: 50px;
	position: relative;
	right: 2px;
}

#information {
	margin-left: 3.5%;
}

#information i {
	display: inline-block;
	text-align: center;
	border: solid thin;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	color: #0065fc;
	border-color: #dedede;
	font-size: 12px;
	line-height: 24px;
}

/* SECTION HEBERGEMENTS */
#hebergements {
	background-color: grey;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
}

article {
	height: 626px;
	width: 61.1%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border-radius: 15px; 
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

aside {
	height: 626px;
	width: 29.1%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border-radius: 15px;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/* Article : div hotel_selectionnés */
#titre_hebergement {
	margin-left: 4.5%;
}

#hotel_select_1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 30px;
	line-height: 10px;
}

#hotel_select_2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 30px;
	line-height: 10px;
}

.hebergements_box {
    background: white;
    height: 199px;
    width: 28%;
	border: 5px solid white;
    border-radius: 15px;
    text-align: left;
    font-size: small;
	background-position: center center;
	background-size: cover;
}

.hebergements_box img {
	height: 114px;
	width: 100%;
	border-radius: 15px 15px 0 0;
}

#afficher_plus {
	margin-left: 4.5%;
}

/* ASIDE : DIV hôtels populaires */
#titre_popular {
	align-self: flex-start;
	margin-left: 38px;
}

#popular {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
}

.popular_box {
    background: white;
	height: 134px;
	border: 5px solid white;
    border-radius: 15px;
    text-align: left;
    font-size: small;
	width: 82%;
	margin-bottom: 30px;
}

.popular_box img {
	height: 134px;
	width: 127px;
	border-radius: 15px 0 0 15px;
	float: left;
}

/* SECTION ACTIVITES */
#activites {
	height: 614px;
}

#activites h1 {
	margin-left: 3.5%;
}



#activites_box {
	background-color: blue;
	margin: 0 3.5% 0 3.5%;
	height: 445px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 44px;
}

.activites_box_1 {
	grid-column-start: 1; 
	grid-row-start: 1;
	grid-row-end: span 2;
	background-color: white;
	display: block;
	overflow: hidden;
	width: 302px;
	max-height: 444px;
	border: 5px solid white;
	background-position: center center;
	background-size: cover;
	border-radius: 15px;
}

.activites_box_1 img {
	border-image-slice: fill 0 28.5% 17% 28.5%;
	display: block;
}

.activites_box_2 {
	grid-column-start: 2; 
	grid-row-start: 1; 
	background-color: red
}

.activites_box_3 {
	grid-column-start: 2; 
	grid-row-start: 2; 
	background-color: yellow
}

.activites_box_4 {
	grid-column-start: 3; 
	grid-row-start: 1; 
	grid-row-end: span 2;
	background-color: green;
}

.activites_box_5 {
	grid-column-start: 4; 
	grid-row-start: 1;
	background-color: black
}

.activites_box_6 {
	grid-column-start: 4; 
	grid-row-start: 2; 
	background-color: purple;
}

/* formater les images pour qu'elle s'intègrent dans les grids */
#activites_box img {
	max-width: 302px;
}

/* FOOTER */
footer {
	background-color: #F2F2F2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	text-align: top left;
	grid-gap: 50px;
}

footer ul { list-style-type: none; line-height: 30px;}

#a_propos {	grid-column: 1 / span 1; }

#nous_rejoindre { grid-column: 2 / span 1; }

#assistance { grid-column: 3 / span 1; }


/* RESPONSIVE DESIGN */

