/* GENERAL */

@font-face
{
	font-family: "Raleway";
	src: url("Raleway-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

#bloc_page
{
	max-width: 1440px;
	margin: 0 auto;
	font-family: "Raleway", sans-serif;
	background-color: #E2DDFF; /*couleur pour visualiser */
}

/* HEADER */
header
{
	background-color: red;	
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 93%;
	margin: auto 3.5%;
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

header img
{
	width: 100px; /* modifier la largeur et hauteur pour que le logo ne change pas en taille en fonction de la taille de l'écran */
	height: 40px;
}

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li {margin-right: 3.5%;} /* modifier pour mettre en unitée relative */

nav a
{
	color: black;
}

nav a:hover
{
	color: #0065FC;
	border-top-color: #0065FC;
}

#inscription {font-weight: bold;}

/* SECTION PRESENTATION */
#presentation
{
	background-color: green;
	width: 93%;
	margin: auto;
	margin: auto 3.5%;
}

#recherche
{

}

#filtres
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

#presentation
{

}

/* SECTION HEBERGEMENTS */
#hebergements
{
	background-color: grey;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 93%;
	margin: auto 3.5%;
}

article
{
	width: 61.1%;
}

aside
{
	flex: 1.2;
	position: relative;
	background-color: #F2F2F2;
	width: 29.1%;
}

/* DIV hotel_selectionnés */
article
{
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

article h1 {display: block}

#hotel_select
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width : 80%;
}

.hebergements_box
{
    background: white;
    height: 200px;
    width: 33%;
    padding: 0.6%;
    border-radius: 15px;
    text-align: justify;
    font-size: small;
    box-sizing: border-box;
    margin: 0.6%;
}

.texte
{
	text-align: center;
}

.hebergements_box img
{
	height: 114px;
	width: 96%;
	border-radius: 15px 15px 0 0;
	margin: 0.6%;
}

/* DIV hôtels populaires */
#populaire
{
	background-color: #F2F2F2;
	width: 20%;
}

/* SECTION ACTIVITES */
#activites
{
	background-color: blue;
	display: flex;
	width: 95%;
	margin: auto;
	padding: 10px;
}


/* FOOTER */
footer
{
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-around;
	align-items: top center;
	text-align: top left;
}

#a_propos
{
	background-color: #777;
}

#nous_rejoindre
{
	background-color: #777;
}

#assistance
{
	background-color: #777;
}


/* RESPONSIVE DESIGN */

